     <div class="sidebar adminelement" style="display: none; background: #219EBC;">
    <div class="logo-details">
     
        <div class="logo_name">Kitech</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
  
      <li>
        <a class="adminelement" href="./dashboard"style="display: none; ">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">대시보드</span>
        </a>
         <span class="tooltip">대시보드</span>
      </li>
    
      <li>
       <a class="adminelement" href="./listofproducts" style="display: none; ">
       
              <i class='bx bxs-cube-alt'></i>
         <span class="links_name">제품목록</span>
       </a>
       <span class="tooltip">제품목록</span>
     </li>
   
       <li>
       <a class="adminelement" href="./partslist" style="display: none; ">
 <i class='bx bxs-component' ></i>
         <span class="links_name">부품목록</span>
       </a>
       <span class="tooltip">부품목록</span>
     </li>

     

           <li>
       <a class="adminelement" href="#" style="display: none;">
       <i class="bx bx-bell"></i>
         <span class="links_name">공지사항</span>
       </a>
       <span class="tooltip">공지사항</span>
     </li>



          <li>
       <a class="adminelement" href="#" style="display: none;">
       <i class="ri-question-line"></i>
         <span class="links_name">자주 묻는 질문</span>
       </a>
       <span class="tooltip">자주 묻는 질문</span>
     </li>
    
     <li class="profile" style="margin-bottom: 30px; background: #219EBC;">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Logout</div>
             <div class="job">2022 - 2023</div>
               
           </div>
         </div>
        <a href="/sessionLogout"  > <i style="background: #219EBC;" class='bx bx-log-out' id="log_out" ></i> </a>
       
     </li>
    </ul>
  </div>



  // dashboard for part supplier

       <div class="sidebar" style="background: #219EBC;">
    <div class="logo-details">
     
        <div class="logo_name">Kitech</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
  
      <li>
        <a class="adminelement" href="./dashboard"style="display: none; ">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">대시보드</span>
        </a>
         <span class="tooltip">대시보드</span>
      </li>
       <li>
        <a class="notadmin" href="./dashboard"  style="display: none;">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">대시보드</span>
        </a>
         <span class="tooltip">대시보드</span>
      </li>
      <li>
       <a class="adminelement" href="./listofproducts" style="display: none; ">
       
              <i class='bx bxs-cube-alt'></i>
         <span class="links_name">제품목록</span>
       </a>
       <span class="tooltip">제품목록</span>
     </li>
      <li>
       <a class="notadmin" href="./parts" style="display: none; ">
    <i class='bx bxs-component' ></i>
         <span class="links_name">부품목록</span>
       </a>
       <span class="tooltip">부품목록</span>
     </li>
       <li>
       <a class="adminelement" href="./partslist" style="display: none; ">
 <i class='bx bxs-component' ></i>
         <span class="links_name">부품목록</span>
       </a>
       <span class="tooltip">부품목록</span>
     </li>
     <li>
       <a class="notadmin" href="./materialsdb" style="display: none;">
 <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">소재목록</span>
       </a>
       <span class="tooltip">소재목록</span>
     </li>
     <li>
       <a class="notadmin" href="./substances" style="display: none; ">
  <i class='bx bx-dna' ></i>
         <span class="links_name">물질목록</span>
       </a>
       <span class="tooltip">물질목록</span>
     </li>
     

           <li>
       <a class="adminelement" href="#" style="display: none;">
       <i class="ri-question-line"></i>
         <span class="links_name">공지사항</span>
       </a>
       <span class="tooltip">공지사항</span>
     </li>

     <li>
       <a class="notadmin" href="#" style="display: none;">
       <i class='bx bx-bell' ></i>
         <span class="links_name">공지사항</span>
       </a>
       <span class="tooltip">공지사항</span>
     </li>
       <li>
       <a class="notadmin" href="#" style="display: none;">
       <i class="ri-question-line"></i>
         <span class="links_name">자주 묻는 질문</span>
       </a>
       <span class="tooltip">자주 묻는 질문</span>
     </li>
          <li>
       <a class="adminelement" href="#" style="display: none;">
       <i class="ri-question-line"></i>
         <span class="links_name">자주 묻는 질문</span>
       </a>
       <span class="tooltip">자주 묻는 질문</span>
     </li>
    
     <li class="profile" style="margin-bottom: 30px; background: #219EBC;">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Logout</div>
             <div class="job">2022 - 2023</div>
               
           </div>
         </div>
        <a href="/sessionLogout"  > <i style="background: #219EBC;" class='bx bx-log-out' id="log_out" ></i> </a>
       
     </li>
    </ul>
  </div>