  <div class="sidebar" style="background: #219EBC;">
   <div class="logo-details">
     
        <div class="logo_name">Kitech</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
  
      <!-- <li>
        <a  href="./dashboard">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">대시보드</span>
        </a>
         <span class="tooltip">대시보드</span>
      </li> -->
    
      <li>
       <a  href="./listofproducts" >
       
              <i class='bx bxs-cube-alt'></i>
         <span class="links_name">제품등록/조회</span>
       </a>
       <span class="tooltip">제품등록/조회
</span>
     </li>
 
       <li>
       <a  href="./listofparts" >
 <i class='bx bxs-component' ></i>
         <span class="links_name">부품조회</span>
       </a>
       <span class="tooltip">부품조회</span>
     </li>
          <li>
       <a  href="./addparts/main">
 <i class='bx bxs-data'></i>
         <span class="links_name">부품등록</span>
       </a>
       <span class="tooltip">부품등록</span>
     </li>
           <li>
       <a  href="#" >
       <i class="bx bx-bell"></i>
         <span class="links_name">공지사항</span>
       </a>
       <span class="tooltip">공지사항</span>
     </li>
       <li>
     <a  href="#">
       <i class="ri-question-line"></i>
         <span class="links_name">자주 묻는 질문</span>
       </a>
       <span class="tooltip">자주 묻는 질문</span>
     </li>
   
    
     <li class="profile" style="margin-bottom: 30px; background: #219EBC;">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Logout</div>
             <div class="job">2022 - 2023</div>
           </div>
         </div>
        <a href="/sessionLogout"  > <i style="background: #219EBC;" class='bx bx-log-out' id="log_out" ></i> </a> 
     </li>
    </ul>
  </div>