<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>자원효율성 통합시스템 | Dashboard for managing recyclable products</title>
      
      <!-- Favicon -->
     
 <link rel="stylesheet" href="../products.css" />
  <link rel="stylesheet" href="../parts.css" />
    <link rel="stylesheet" href="../dashboard.css" />
 <link rel="stylesheet" href="../addbtn.css" />
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
      <link rel="stylesheet" href="../backend.css" />
      <link rel="stylesheet" href="../backend-plugin.min.css">
       <link rel="stylesheet" href="../all.min.css">
      <link rel="stylesheet" href="../line-awesome.min.css">
      <link rel="stylesheet" href="../remixicon.css">
        <!-- <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js"></script>
   
    <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-auth.js" defer ></script> -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.9.1/firebase-firestore.js"></script>
  <style>
    li span {
  background-color: transparent;
}
  </style>
      </head>
  <body class="">
    <!-- loader Start -->
   
    <!-- loader END -->
    <!-- Wrapper Start -->
      <%- include('components/sidebar'); %>
  
    
    
  <section class="home-section">
        
<div class="content-page">
  <div class="container-fluid">
       <%- include('components/topNavbar'); %>
    
    
    
<div class="content-page" style="padding: 73px 5px 0;">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-transparent card-block card-stretch card-height border-none">
                    <div class="card-body p-0 mt-lg-2 mt-0">
                        <h3 class="mb-3"> 환영합니다</h3>
                        <p class="mb-0 mr-4">자원효율성 평가 시스템 항목을 한눈에 보여주는 대시보드 입니다</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="row">
                    <div class="col-lg-4 col-md-4 " >
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-info-light">
                                      
                                       <i class="ri-stack-line"></i>

                                    </div>
                                    <div>
                                        <p class="mb-2">등록 제품 수량</p>
                                        <h4>88</h4>
                                    </div>
                                </div>                                
                                <div class="iq-progress-bar mt-2">
                                    <span class="bg-info iq-progress progress-1" data-percent="85">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                   


                    <div class="col-lg-4 col-md-4 " >
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-danger-light">
                                        <i class="ri-bubble-chart-line"></i>
                                    </div>
                                    <div>
                                        <p class="mb-2">등록 부품사</p>
                                        <h4>52</h4>
                                    </div>
                                </div>
                                <div class="iq-progress-bar mt-2">
                                    <span class="bg-danger iq-progress progress-1" data-percent="70">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-md-4 " >
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-success-light">
                                   <i class="ri-drop-line"></i>
                                    </div>
                                    <div>
                                        <p class="mb-2">등록 부품 수량</p>
                                        <h4>827</h4>
                                    </div>
                                </div>
                                <div class="iq-progress-bar mt-2">
                                    <span class="bg-success iq-progress progress-1" data-percent="75">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>

            


            <div class="col-lg-6 " style=" margin-top: 5%;">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Overview</h4>
                        </div>                        
                        <!-- <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton001"
                                    data-toggle="dropdown">
                                    This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton001">
                                    <a class="dropdown-item" href="#">Year</a>
                                    <a class="dropdown-item" href="#">Month</a>
                                    <a class="dropdown-item" href="#">Week</a>
                                </div>
                            </div>
                        </div> -->
                    </div>                    
              <div class="card-body">
                     <div id="am-polar-chart" style="height: 400px;"></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 " style=" margin-top: 5%;">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">  연도별 등록 제품 수량</h4>
                        </div>
                        <!-- <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton002"
                                    data-toggle="dropdown">
                                    This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton002">
                                    <a class="dropdown-item" href="#">Yearly</a>
                                    <a class="dropdown-item" href="#">Monthly</a>
                                    <a class="dropdown-item" href="#">Weekly</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <div id="layout1-chart-2" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
                 
         <div class="row col-lg-12 " >
                 <div class="card-header d-flex justify-content-between" style="width: 100%; margin-bottom:2%; margin-top: 5%;">
                        <div class="header-title">
                            <h4 class="card-title"> 최근 등록 제품</h4>
                        </div>                        
                  
                    </div>   
                 <div class="tabledata">
   
    <div class="table-wrapper table-responsive rounded mb-3" style="overflow-x: hidden; 
    overflow-y: scroll; height: 29rem;">
   
         
      <table class="table-users mb-0 ">
    <thead class="bg-white text-uppercase" style="position: sticky; top: 0; font-size: 13px; z-index: 0;">
  <tr class="ligth ligth-data">
      
         <th >Product Image</th>
             <th style="width: 17%;" >Product Category</th>
          <th>Product Name</th>
          <th>Model Name</th>
          <th>Product Weight</th>
          <th>Product Size</th>
          <th>Registration Date</th>
           <th>Registration Status</th>
          <th>Memo</th>
    
        </tr>
  
  
    </thead>
   <tbody class="prodTabledata"></tbody>
   
   
      </table>
    
    </div>
    </div>
             </div>
      

        
        </div>
        <!-- Page end  -->
    </div>
      </div>
    </div>

 

     
 <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>

  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.14.1/firebase-functions.js"></script>

  <%- include('../config/config'); %>

 <!-- <script  type="module" src="./auth.js" defer></script> -->
  <!-- <script type="module" src="./products.js"> </script> -->
   <script>feather.replace()</script>
    <!-- Backend Bundle JavaScript -->
    <script src="../backend-bundle.min.js"></script>
    <script type="module" src="../dashboard.js"> </script>
        <script   src="../sidemenu.js" ></script>
    <!-- Table Treeview JavaScript -->
    <!-- <script src="./table-treeview.js"></script> -->
    
    <!-- Chart Custom JavaScript -->
    <script src="../customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="../chart-custom.js"></script>
    
    <!-- app JavaScript -->
    <script src="../app.js"></script>
     <!-- <script   type="module" src="./auth.js" ></script> -->
  </body>
</html>