  <div class="addPPmodaly modaly-wrapper">
      <div class="modaly" style="    
                                 width: 70%;
                                 left: 15%; 
                                 margin-top:3%;
                                 border-radius:15px;">
                              

        <div class="modaly-body" style="padding: 0;">
         <div class="modaly-header"> <span class="setPPheader" style="font-size: 150%; color:black;"> </span></div>
          <div class="card-body">
                     <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 col-lg-12">
               <div class="iq-card">
                
                  <div class="iq-card-body">
                     <form id="form-wizard1" class="addPPForm text-center mt-4">
                
                              
                              <fieldset>
                           
                            
                            <div class="row" style="align-items: center;">
                           
                             
                                       <div class="col-md-3">
                                    <div class="form-group">
                                     <label>부품사</label>
                               
                                      <select  class="supplierName form-control" name="supplierName" id="supplierName"  data-style="py-0">
                                      <option value="" selected>Select an option</option>
                                     
                                    </select>
                                        
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                   <div class="col-md-3">
                                    <div class="form-group">
                                     <label>부품명</label>
                               
                                      <select  class="partname form-control" name="partname" id="partname"  data-style="py-0">
                                    
                                    
                                    </select>
                                        
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                 <div class="col-md-2">
                                    <div class="form-group">
                                        <label>부품코드</label>
                                        <select   class="form-control"  id='partCode' placeholder="부품 코드를 입력하세요"  data-errors="부품 코드를 입력하세요." name="addpartCode" required>

                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                
                            
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>부품 수량</label>
                                        <input type="number" class="form-control quantity" min="1"  placeholder="부품 수량을 입력하세요" data-errors="부품 수량을 입력하세요."  name="addpartQuantity" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-2" style="padding: 0;
                                                             margin: 0;">
                                    <nav class="navbary" style="  background-color: #219EBC; margin: 20px 10px 0 0;
                                                                     font-size: 16px;">
                                    <a href="#" class="navbary__link" >
                                        <span class=" getPPdata" style="color: white;" >부품 조회</span>
                                    </a>
                                </nav>
                                </div>
                                     
                                </div> 
                        <!-- <button  id="edit" class="btn btn-primary btn-light  previous action-button-previous float-right mr-3" value="Previous" >Add Part</button> -->
                      <!-- <button type="button" name="next" class="  btn checkpartdata btn-primary next action-button-next float-right" value="next"  >Next</button>
                        </fieldset>
                        
                        <fieldset> -->
                         
                                  <div class="col-md-12" style="visibility: hidden; height: 0;">
                                     <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>부품 크기</label>
                                        <input readonly type="text" class="form-control" id='partSize' placeholder="---" data-errors="---" name="addpartMassgEA" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                    <div class="form-group">
                                        <label>Part id</label>
                                        <input readonly type="hidden" class="form-control"  id='partId' placeholder="---" data-errors="---" name="addpartNumber" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                           <div class="row">
                                
                                  
                              <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>부품중량 </label>
                                        <input readonly type="number" class="form-control" id='partWeight'placeholder="---" data-errors="---" name="addpartMassg" value="" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                 <div class="col-md-3"> 
                                    <div class="form-group">
                                        <label>등록일자</label>
                                        <input readonly type="text" class="form-control" id='partRegisteredDate'placeholder="---" data-errors="---" style=" font-size: 15px;" name="addpartMassPerc" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-4">
                                    <div class="form-group">
                                     <label>메모</label>
                                        <input  type="text" class="form-control" id='companyName' placeholder="---" data-errors="---" name="addsupplierInfo" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-2" style="padding: 0;
                                                             margin: 0;">
                                 
                                       <div class="buttonaddParts addPart" style="display: none; top: 40%; left: 0;" id="editForm">
                                <div class="content">
                                    <!-- <i class="bx bxs-edit"></i> -->
                                    <span class="buttonaddParts-text">부품 추가</span>
                                </div>
                            </div>
                                </div>

                                 
                                
                       </div>
                   

              
                        </fieldset>
                        
                     </form>

                     
       <div class="row" style="align-items: baseline;">
        <div class="col-md-2">
     <div class="table-responsive" style="  border-radius: 10px;  height: 310px; overflow: auto;">
                        <table id="tree-table-1" class="table  table-hover table-bordered iq-bg-white tree" style="    border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;">
   
                              <tr style="position: sticky; top: 0; background-color: #219EBC;">
                                 <th class="breadproductname" style="color: white;"></th>
                              </tr>
                           
                       
                        </table>
                           <div>
                                   <ol class="wtree breadbody">
                          

                           </ol>
                      
                              </div>
                     </div>
        </div>
         <div class="col-md-10" style="margin-top: 3%;">
              <div  class="table-wrapper" style="    height: auto;"> 
               <div class="deleterow align-items-center float-right" >
             <button class="btnpr btnpr-add" style="width: 10%; margin-bottom: 10px; background: #F05D5E;"><div class="addnewproductbtnpr">Delete All</div></button>
          </div>
          <div class="setPPWeight" style="    text-align: end;"></div>
                               <table class=" table-parts table-hover  ">
                           <thead>
                                   <tr>
                                      <th ><svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 20 20">
  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg></th>
                                   <th>Part Name</th>
                                <th>Part Code</th>
                                   <th>Part Weight</th>
                                     <th>Registration Date</th>
                                       <th style="width: 1%;">Quantity</th>
                                   <th>Memo</th>
                                   <th style="width:16%">Action</th>
                              
                                </tr>
                           </thead>
                        
                            <tbody class="addedpartslist">

                            </tbody>
                           </table>
                        </div>
        </div>
       </div>
                        
                          <button type="button" class="btn styleBtn action-button-close" data-dismiss="modaly">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
            <!-- Modal -->
             </div>
        </div>
      </div>
    </div>