      <div class="iq-top-navbar" style="box-shadow: 0 16px 15px 0 rgb(34 36 48 / 8%)">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
            
               
              
                  <div class="d-flex align-items-center">
                  
                  <div class="userroledisplay">
                         <div class="card-body">
                  
                      <!-- <button type="button" class="btn mb-1 bg-primary-light">
                      Product Manufacturer
                      </button> -->
                      <div type="button" class="btn mb-1" style="font-size: 13px; background-color: #023047; color: white;">
                          관리자 
                      </div>
                      
                      <!-- <button type="button" class="btn mb-1 bg-danger-light">
                      Notifications <span class="badge badge-danger ml-2">4</span>
                      </button> -->
                  </div>
                  </div>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-label="Toggle navigation">
                          <i class="ri-menu-3-line"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                             
                              <li class="nav-item nav-icon search-content">
                                  <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      <i class="ri-search-line"></i>
                                  </a>
                                  <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                      <form action="#" class="searchbox p-2">
                                          <div class="form-group mb-0 position-relative">
                                              <input type="text" class="text search-input font-size-12"
                                                  placeholder="type here to search...">
                                              <a href="#" class="search-link"><i class="las la-search"></i></a>
                                          </div>
                                      </form>
                                  </div>
                              </li>
                              <li class="nav-item nav-icon dropdown caption-content">
                                  <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="../1.png" style="max-height: fit-content;" class="img-fluid rounded" alt="user">
                                  </a>
                                  <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <div class="card shadow-none m-0">
                                          <div class="card-body p-0 text-center">
                                              <div class="media-body profile-detail text-center" style="max-height: fit-content;">
                                                  <img src="../profile-bg.jpg" alt="profile-bg" style="max-height: fit-content;"
                                                      class="rounded-top img-fluid mb-4">
                                                  <img src="../1.png" alt="profile-img" style="max-height: fit-content;"
                                                      class="rounded profile-img img-fluid avatar-70">
                                              </div>
                                              <div class="p-3" >
                                                   <div class="mb-1">
                                                    <h5 class="mb-1 " id="usertitle" ></h5>
                                                    <h5 class="mb-1 " id="useremailcard" ></h5>
                                                </div>
                                                  
                                                  <p class="mb-0">계정 생성일: 2022/08/02</p>
                                                  <div class="d-flex align-items-center justify-content-center mt-3">
                                                      <a href="./userprofile" class="btn border mr-2">내 계정</a>
                                                      <a href="/sessionLogout" class="btn border">로그아웃</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>